@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, :root{
    height: 100%;
    color-scheme: dark;
    background: url("../public/assets/Spotify_icon.png") no-repeat center;
    background-size: 500px 200px;

}