.innerDivsStyles{
    @apply w-[300px]
}

.grid{
    display: grid;
    grid-template-columns:2fr 2fr;
    margin-top: 30px;
    overflow: hidden;
}
.inner{
    text-align: center;
    padding: 10px;
}
.trackImage{
    width: 200px;
    height: 200px;
}